---
import { Image, imageConfig } from "astro:assets";
import { getCollection } from "astro:content";
import TrustedFirmwareLogo from "../../assets/images/TrustedFirmware-Logo_icon.png";
import dayjs from "dayjs";
import { marked } from "marked";

const { data, body, collection, slug } = Astro.props;

const dateObj = dayjs(data.date);
const dateString = dateObj.format("dddd, MMMM D, YYYY");

const image = (await import(data.image.replace("@assets", "../../assets")))
  .default;

marked.use({
  renderer: {
    heading(text) {
      return ` <span>
              ${text}
            </span>`;
    },
    paragraph(text) {
      return `
            <span>
              ${text}
            </span>`;
    },
    link(text) {
      return `
            <span>
              ${text}
            </span>`;
    },
  },
});
const content = marked.parse(body.split(" ").slice(0, 30).join(" ") + "...");
---

<a
  class="flex prose-xl flex-col-reverse p-0 w-full h-full justify-end
rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] hover:drop-shadow-xl hover:scale-105 duration-300"
  href={`/${collection}/${slug}`}
>
  <div class="w-full p-6">
    <div class="flex w-full justify-between items-center my-4">
      <i class="text-xl m-0">TrustedFirmware</i>
      <Image
        class="w-12 m-0"
        width={48}
        src={TrustedFirmwareLogo}
        alt="Trusted Firmware logo"
      />
    </div>
    <h2 class="text-xl text-left m-0">{data.title}</h2>
    <p class="text-slate-500 my-2 text-sm">{dateString}</p>
    <div
      class="prose prose-strong:font-normal prose-strong:text-md prose-headings:font-normal prose-headings:text-md break-words"
    >
      <div set:html={content} />
    </div>
  </div>
  <div class="basis-1/4 w-full rounded-t-lg m-0">
    <Image
      src={image}
      alt={data.title}
      class="object-cover object-center m-0 w-full h-full"
    />
  </div>
</a>
