---
import { Image } from "astro:assets";
import dayjs from "dayjs";
import { marked } from "marked";
import { getEntry, type CollectionEntry } from "astro:content";

const { data, body, collection, slug } = Astro.props;

const author = (await getEntry(data.author)) as CollectionEntry<"authors">;

const dateObj = dayjs(data.date);
const dateString = dateObj.format("dddd, MMMM D, YYYY");
marked.use({
  renderer: {
    heading(text) {
      return `<span>
              ${text}
            </span>`;
    },
    paragraph(text) {
      return `
            <span>
              ${text}
            </span>`;
    },
    link(text) {
      return `
            <span>
              ${text}
            </span>`;
    },
    strong(text) {
      return `
            <span>
              ${text}
            </span>`;
    },
  },
});
const content = marked.parse(body.split(" ").slice(0, 30).join(" ") + "...");
---

<div
  class="flex col-span-full prose-xl flex-col-reverse md:flex-row w-full items-stretch
rounded-lg mx-auto bg-white shadow-lg border border-gray-200"
>
  <div class="w-full basis-1/2 p-6">
    <div class="flex w-full justify-between flex-wrap items-center my-4">
      <i class="text-xl m-0">TrustedFirmware</i>
      <Image
        class="w-12 m-0 rounded-[50%] aspect-square object-cover"
        src={author!.data.image}
        alt={author!.data.name}
      />
    </div>
    <h2 class="text-xl text-left m-0">{data.title}</h2>
    <p class="text-slate-500 my-2 text-sm">{dateString}</p>
    <div class="prose-lg mb-4" set:html={content} />
    <a
      id="readme"
      href={`/${collection}/${slug}`}
      class="bg-customturquoise transition ease-in-out delay-150 text-white text-sm px-4 py-2 rounded-sm"
    >
      Read
    </a>
  </div>
  <a
    href={`/${collection}/${slug}`}
    class="basis-1/2 w-full rounded-t-lg md:rounded-l-none md:rounded-r-lg overflow-hidden m-0 h-96 md:h-full max-h-full"
  >
    <Image
      src={data.image}
      alt={data.title}
      class="object-cover object-top m-0 h-full"
    />
  </a>
</div>
