---
import dayjs from "dayjs";
import { Image } from "astro:assets";
import { marked } from "marked";
import { remark } from "remark";
import strip from "strip-markdown";
import { parseDescription } from "@/lib/parseDescription";

const { posts, title } = Astro.props;

function dateConvertor(text: string) {
  const dateObj = dayjs(text);
  const dateString = dateObj.format("dddd, MMMM D, YYYY");
  return dateString;
}

marked.use({
  renderer: {
    heading(text) {
      return `<span>
              ${text}
            </span>`;
    },
    paragraph(text) {
      return `
            <span>
              ${text}
            </span>`;
    },
    link(href, title, text) {
      return `
            <span>
              ${text}
            </span>`;
    },
    strong(text) {
      return `
            <span>
              ${text}
            </span>`;
    },
  },
});
---

<div class="max-w-5xl mx-auto mb-16 px-5 md:px-16">
  <h2 class="my-12 font-bold text-3xl">{title}</h2>
  {
    posts.map(async (post: any) => {
      const parsedDescription = await parseDescription(post);
      return (
        <a
          href={`/${post.collection}/${post.slug}`}
          class="text-black no-underline cursor-pointer text-[20px] hover:text-accent m-0"
        >
          <div class="flex flex-col  sm:flex-row items-start gap-0 sm:gap-5 mb-8">
            <Image
              class="object-cover border border-lightgray m-0 aspect-square w-full mb-4  max-w-sm sm:max-w-[10rem]"
              src={post.data.image}
              alt="post image"
            />
            <div>
              <h5 class="text-2xl font-medium">{post.data.title}</h5>
              <p class="text-[16px] italic md:mb-2">
                {dateConvertor(post.data.date)}
              </p>
              <p class="text-lg " set:html={parsedDescription} />
            </div>
          </div>
        </a>
      );
    })
  }
</div>
