---
import BaseLayout from "./BaseLayout.astro";
import Hero from "../components/hero/Hero.astro";
import { Image } from "astro:assets";
import RecentPosts from "@/components/articles/RecentPosts.astro";
import { getCollection } from "astro:content";
import dayjs from "dayjs";

const { author } = Astro.props;
const { data } = author;
const { title, description, name, image } = data;

const blogs = await getCollection("blog", ({ data }) => {
  return data.author.slug === author.slug
})

const news = await getCollection("news", ({ data }) => {
  return data.author.slug === author.slug
})
const latestPosts = [...blogs, ...news].sort((a, b) => dayjs(b.data.date).diff(a.data.date))
---

<BaseLayout title={title} description={description}>
    <section
    class:list={[
      "bg-neutral-300",
      "flex flex-col items-center text-black justify-center gap-5 px-5 ",
      "h-72 "
    ]}
  >
    {image ?  <Image
      src={image}
      alt={name}
      class="w-32 rounded-[50%] aspect-square object-cover object-center"
    /> : <></>}
    <h1 class="text-inherit text-3xl md:text-5xl text-left font-medium">{name}</h1>
  </section>
  <RecentPosts posts={latestPosts} title="Posts"/>
</BaseLayout>
